{% load static %}

<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static 'blog/logo/favicon.ico' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- Local StyleSheet-->
    <link rel="stylesheet" href="{% static 'blog/styles.css' %}">

    {% if title %}
        <title>Diffuser - {{title}}</title>
    {% else %}
        <title>Diffuser</title>
    {% endif %}
</head>
<body>

    <header class="site-header">
        <nav class="navbar navbar-expand-md shadow-lg navbar-dark bg-steel fixed-top pt-0 pb-0">
            <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">
              <img src="{% static 'blog/logo/logo.png' %}" class=" me-2" width="50" height="50" alt="{{user.first_name}}" >
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
                {% comment %} <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a> {% endcomment %}
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                {% if user.is_authenticated %}
                  <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                {% else %}
                  <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                  <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                {% endif %}
                </div>
            </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container">
        <div class="row d-flex justify-content-center">

          {% if user.is_authenticated %}

          <div class="col-md-4">
            <div class="content-section">

                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      
                  {% block latestButton %}
                  <button class="nav-link nav-pills-link text-left d-flex align-items-center" onClick="window.location.href='{% url 'blog-home' %}';" id="latest-tab" data-bs-toggle="pill" data-bs-target="#latest" type="button" role="tab" aria-controls="latest" aria-selected="true">
                    <span class="iconify" data-icon="ic:outline-upcoming" data-width="20" data-height="20"></span>
                    &nbsp;Latest Posts
                  </button>
                  {% endblock %}
      
                  {% block createButton %}
                  <button class="nav-link nav-pills-link text-left d-flex align-items-center" onClick="window.location.href='{% url 'post-create' %}';" id="create-tab" data-bs-toggle="pill" data-bs-target="#announcement" type="button" role="tab" aria-controls="announcement" aria-selected="false">
                    <span class="iconify" data-icon="gridicons:create" data-width="20" data-height="20"></span>
                    &nbsp;Create Post
                    <span class="badge rounded-pill text-bg-danger" style="background-color: #DC3545 !important;">{% if unread_announcement != 0 %}{{unread_announcement}}{% endif %}</span>
                  </button>
                  {% endblock %}
      
                  {% block editButton %}
                  <button class="nav-link nav-pills-link text-left d-flex align-items-center" onClick="window.location.href='{% url 'profile' %}';" id="meeting-tab" data-bs-toggle="pill" data-bs-target="#meeting" type="button" role="tab" aria-controls="meeting" aria-selected="false">
                    <span class="iconify-inline" data-icon="akar-icons:edit" data-width="21" data-height="21"></span>
                    &nbsp;Edit Profile
                    <span class="badge rounded-pill text-bg-danger" style="background-color: #DC3545 !important;">{% if unseen_meetings != 0 %}{{unseen_meetings}}{% endif %}</span>
                  </button>
                  {% endblock %}
      
                  {% block calendarButton %}
                  <button class="nav-link nav-pills-link text-left d-flex align-items-center" onClick="window.location.href='{% url 'calendar' %}';" id="calendar-tab" data-bs-toggle="pill" data-bs-target="#edit" type="button" role="tab" aria-controls="calendar" aria-selected="false">
                    <span class="iconify" data-icon="akar-icons:calendar" data-width="20" data-height="20"></span>
                    &nbsp;Calendar
                  </button>
                  {% endblock %}
      
                </div>

            </div>
          </div>
          {% endif %}

          <div class="col-md-8">
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{message.tags}}">
                  {{message}}
                </div>
              {% endfor %}
            {% endif %}

            {% block content %}

            {% endblock %}

            {% block latestContent %}
            
            {% endblock %}

            {% block createContent %}
            
            {% endblock %}

            {% block editContent %}
            
            {% endblock %}

            {% block calendarContent %}
            
            {% endblock %}

          </div>

        </div>
    </main>

  <!--footer-->
  <div id="about">
    <footer class="site-footer">
      <hr class="mb-3">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="text-center">
                <h6 class="fw-bold"><b>About Diffuser</b></h6>
                <p class="copyright-text mb-2">Diffuser is platform for everyone to start blogging</p>
              </div>
          </div>
          <div class="col-4 d-xs-none">
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-2 d-flex justify-content-center align-items-center">
              <a href="https://github.com/BorisEdison" target="_blank" style="text-decoration: none; color: #444444">
                <span class="iconify" data-icon="akar-icons:github-fill" data-width="30" data-height="30"></span>
              </a>
              <a class="m-3 mt-0 mb-0" href="https://www.linkedin.com/in/borisedison/" target="_blank" style="text-decoration: none; color: #444444">
                <span class="iconify" data-icon="akar-icons:linkedin-box-fill" data-width="30" data-height="30"></span>
              </a>
              <a href="https://www.instagram.com/_boris_edison_/" target="_blank" style="text-decoration: none; color: #444444">
                <span class="iconify" data-icon="akar-icons:instagram-fill" data-width="30" data-height="30"></span>
              </a>
          </div>
        </div>
      </div>

      <div class="row" style="margin-right: 0; margin-left: 0">
        <div class="col-12 d-flex justify-content-center">
          <p class="">Made with ❤️ by
            <a class="contrib-link" href="https://www.linkedin.com/in/borisedison/" target="_blank">Boris Edison</a>
          </p>
        </div>
      </div>
    </footer>
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   
    <!-- iconify -->
   <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>

</body>
</html>