{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block createButton %}
<button class="nav-link nav-pills-link text-left active d-flex align-items-center" onClick="window.location.href='{% url 'post-create' %}';" id="create-tab" data-bs-toggle="pill" data-bs-target="#announcement" type="button" role="tab" aria-controls="announcement" aria-selected="false">
  <span class="iconify" data-icon="gridicons:create" data-width="20" data-height="20"></span>
  &nbsp;Create Post
  <span class="badge rounded-pill text-bg-danger" style="background-color: #DC3545 !important;">{% if unread_announcement != 0 %}{{unread_announcement}}{% endif %}</span>
</button>
{% endblock %}

{% block createContent %}

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Blog Post</legend>
                {{form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>

    </div>
    
{% endblock %}