{% extends "blog/base.html" %}

{% block latestButton %}
<button class="nav-link active nav-pills-link text-left d-flex align-items-center"  onClick="window.location.href='{% url 'blog-home' %}';" id="latest-tab" data-bs-toggle="pill" data-bs-target="#latest" type="button" role="tab" aria-controls="latest" aria-selected="true">
  <span class="iconify" data-icon="ic:outline-upcoming" data-width="20" data-height="20"></span>
  &nbsp;Latest Posts
</button>
{% endblock %}

{% block latestContent %}

<div class="tab-pane fade show active" style="margin-bottom: 10vh" id="latest" role="tabpanel" aria-labelledby="v-pills-latest-tab">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Post</legend>
                <h2>Are you sure you want to delete the post "{{object.titlle}}"</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">Cancel</a>
            </div>
        </form>

    </div>
</div>
    
{% endblock %}